*{margin: 0;
padding: 0;
box-sizing: border-box;
}

.menuItem {
display: block;
margin: 2rem 4rem;
font-size: 1.8rem;
color: white;
text-decoration: none;
}

.menuItem:hover {
text-decoration: underline;
}

.hamburger {
position: fixed;
z-index: 100;
top: 1rem;
right: 1rem;
padding: 4px;
border: rgb(219, 16, 16) solid 1px;
background: rgb(248, 245, 245);
cursor: pointer;
}

.closeIcon {
display: none;
}

.menu {
    /* display: flex; */
position: fixed;
transform: translateY(-100%);
transition: transform 0.2s;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 99;
background: rgb(22, 8, 218);
color: white;
list-style: none;
padding-top: 4rem;
}

.showMenu {
transform: translateY(0);
}